body {
   padding-top: 184px;
   max-width: 1200px;
   margin: 0 auto;
}
.sidebar{
    position: fixed;
    top: 0;
    width: 90%;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
  
}
@media (max-width: 620px){
    body{
        padding-top: 0;
    }
    .sidebar {
    position: static;
    }
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: start;
    }
    .design-selection {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}