
h1, h2, h3{
	font-family: 'Pacifico', cursive;
	color: #05c0d8;
	
}
.page-wrapper {
	display: flex;
	flex-direction: column;
}
@media (max-width: 620px) and (min-width: 320px){
   .sidebar {
      order: -1;
	}
	
}